<section id="login">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1>Login</h1>
        <!-- reactive approach using ReactiveFormsModule in app.module -->

        <div *ngIf="notifyMessage" class="alert alert-success">
          {{ notifyMessage }}
        </div>

        <!-- aca en el tag form tengo que hacer un prop biding, y en cada input tag adjuntar un formControlName -->
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
            />
            <div
              *ngIf="email.invalid && !email.pristine"
              class="alert alert-danger"
            >
              <div *ngIf="email.errors?.['required']">Email is required.</div>
              <div *ngIf="email.errors?.['pattern']">
                Must be valid email format!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
            />
            <div
              *ngIf="password.invalid && !password.pristine"
              class="alert alert-danger"
            >
              <div *ngIf="password.errors?.['required']">
                Password is required.
              </div>
              <div *ngIf="password.errors?.['minlength']">
                Password must be at least 6 characters long.
              </div>
            </div>
          </div>
          <button (click)="login()" type="submit" class="btn bwm-btn-main">
            Submit
          </button>
        </form>

        <div *ngIf="error && error.detail" class="alert alert-danger">
          <p>{{ error.detail }}</p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">
            Hundreds of awesome places in reach of few clicks.
          </h2>
          <img src="assets/images/login-image.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
