<div class="bwm-list-page">
  <h1>Your Home all around the World</h1>

  <div class="row">
    <div class="col-md-3 col-xs-6" *ngFor="let rental of rentals">
      <bwm-rental-card [rental]="rental"> </bwm-rental-card>

      <!-- <div *bwmNgIf="rental.category === 'house'">
        <h1>im a house</h1>
      </div> -->

      <!-- custom ngIf directives 
        using *bwmNgIf trannsforms like this 
      <ng-template [bwmNgIf]="rental.category === 'house'">
        <h1>im a house</h1>
      </ng-template> -->
    </div>

    <!-- CUSTOM NGFOR DIRECTIVE
      <div *bwmNgFor="let num of [1, 2, 3]" class="col-md-3 col-xs-12">
      {{ num }}
    </div> 
    -->

    <!-- using *bwmNgFor trannsforms like this 
    <ng-template bwmNgFor= let-num [bwmNgfor]="[1,2,3]">
       <div class="col-md-3 col-xs-12">
         {{ num }}
      </div>
    </ng-template> -->
  </div>
</div>
